<aside
  id="cta-button-sidebar"
  class="z-40 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div
    class="flex flex-col justify-center h-full py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800"
  >
    <ul class="font-medium">
      <li
        (click)="selectedTab = 0"
        class="pl-3 pr-4 border-l-4 transition-all duration-300"
        [ngClass]="selectedTab === 0 ? 'border-primary' : 'border-transparent'"
      >
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
          data-tooltip-target="tooltip-items"
          data-tooltip-placement="right"
        >
          <svg
            class="w-6 h-6 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              d="M6 1h10M6 5h10M6 9h10M1.49 1h.01m-.01 4h.01m-.01 4h.01"
            />
          </svg>
        </a>
        <div
          id="tooltip-items"
          role="tooltip"
          class="absolute z-10 inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
        >
          items
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </li>
      <li
        (click)="selectedTab = 1"
        class="pl-3 pr-4 border-l-4 transition-all duration-300"
        [ngClass]="selectedTab === 1 ? 'border-primary' : 'border-transparent'"
      >
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
          data-tooltip-target="tooltip-history"
          data-tooltip-placement="right"
        >
          <svg
            class="w-6 h-6 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 16"
          >
            <path
              stroke="currentColor"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 8v1h4V8m4 7H4a1 1 0 0 1-1-1V5h14v9a1 1 0 0 1-1 1ZM2 1h16a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1Z"
            />
          </svg>
        </a>
        <div
          id="tooltip-history"
          role="tooltip"
          class="absolute z-10 inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
        >
          history
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </li>
      <li
        (click)="selectedTab = 2"
        class="pl-3 pr-4 border-l-4 transition-all duration-300"
        [ngClass]="selectedTab === 2 ? 'border-primary' : 'border-transparent'"
      >
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
          data-tooltip-target="tooltip-statistics"
          data-tooltip-placement="right"
        >
          <svg
            class="w-6 h-6 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 18"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 12v5m5-9v9m5-5v5m5-9v9M1 7l5-6 5 6 5-6"
            />
          </svg>
        </a>
        <div
          id="tooltip-statistics"
          role="tooltip"
          class="absolute z-10 inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
        >
          statistics
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </li>
    </ul>
  </div>
</aside>
